.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


  /* hover */

  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
.num {
    transition: --num 5s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
  }
  div::after {
    content: counter(num);
  }
  div:hover {
    --num: 100;
  }
  
  body {
    margin: 2rem;
  }